.suscription-section .row {
    justify-content: center;
    text-align: center;
}

.suscription-body {
    background-color: #efefef;
    margin-bottom: 5rem;
    padding: 4rem 3rem 4rem 3rem;
    font-size: 12px;
}

.suscription-body p {
    margin-bottom: 3rem;
}

.suscription-body input {
    margin-right: 1rem;
    border: none;
    height: 2rem;
}

.suscription-body button {
    border-radius: 0;
    font-size: 12px;
}

.form-check-label {
    padding-top: 0.8rem;
}

.form-check {
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 8.5px;

    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;

}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 8.5px;
    position: relative;
    background-color: var(--primary);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}