.row.no-gutters.fondoDivGris {

    justify-content: center;
}

.fondoDivGris>div {
    text-align: center;
    text-align: -webkit-center;
    align-self: center;
}

.fondoDivBody>div {
    text-align: center;
    text-align: -webkit-center;
    align-self: center;
}

.textoHorizontalBody>div {
    padding: 1rem;
    align-self: center;
}

.textSectionContainer>div {
    padding: 1rem;
}

.textoHorizontalBody {
    background-size: cover;
    place-content: center;
}