.row.no-gutters.divCuadrotexto.fondoDivGris {

    justify-content: center;
}

.divCuadrotexto.fondoDivGris>div {
    text-align: center;
    text-align: -webkit-center;
    align-self: center;
}

.textoHorizontalBody>div {
    padding: 1rem;
}