#contacto {
    /* align-self: center; */
}

footer {
    background-color: #f6f6f6;
    font-family: 'Poppins';

}


footer a {
    text-decoration: none;
    color: #71668a;
}

footer a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: #71668a;

}

#copywrite {
    margin-top: 2rem;
    /* padding-bottom: 0.5rem; */
    font-size: small;
}

#redDistrubuidoresModal .card-header {
    background-color: #71668a;
    border-radius: 0px;

}

#redDistrubuidoresModal button.collapsed {
    color: white;

}