/* GLOBAL STYLES -------------------------------------------------- */

:root {
  --primary: #867c9d;
}

/* Padding below the footer and lighter body text */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
  color: #5a5a5a;
  font-family: 'Poppins';
  letter-spacing: 1px, 100;
}

/* MENU SYLES */

.textoMenu {
  display: flex;
  flex-grow: 0;
  padding-right: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-left: 50px;
}

img.logoNav {
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

#carouselDesktop {
  display: block;
}

#carouselMobile {
  display: none;
}

/* NOVEDADES */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carouselTamanio {
  padding-right: 60px;
  height: 513px;

}

.texto {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: rgb(71, 69, 69);
  font-size: 100%;
  /* padding-bottom: 225px;
  padding-right: 50px; */
  white-space: pre;
  margin: 0px;

}

.textoHorizontal {
  /* padding-top: 220px;
  padding-left: 70px; */
  font-size: 25px;
  color: rgb(71, 69, 69);
}

.textoChico {
  font-size: 13px;
  margin-top: 32px;
  text-decoration: none;
  color: rgb(71, 69, 69);
}

.textoChico:hover {
  text-decoration: none;
  color: #71668a !important;
  font-weight: bold;
}


.fondoDiv {
  background-color: #efefef;
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

/* CONTENT BODY
-------------------------------------------------- */

.tituloMobile {
  display: block;
}


.textoHorizontalBody {
  /* padding-top: 60px;
  padding-bottom: 70px;
  padding-right: 0px;
  padding-left: 20px;
  margin-left: 60px; */
  color: white;

}

.textoTamanio {
  font-size: 150%;
  font-weight: 300;
}

.fondoDivBody {
  background-color: #efefef;
  margin-top: 60px;
  margin-bottom: 50px;
}

.textoBody {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: rgb(71, 69, 69);
  font-size: 100%;
  /* padding-bottom: 80px;
  padding-right: 50px; */
  white-space: pre;
  margin: 0px;
}

.imagen {
  /* padding-left: 0px;
  height: 450px; */
}

.divVacio {
  padding: 0px;
}

/* CUADROS DE TEXTO */
.divCuadrotexto {
  margin-bottom: 50px;
}

.fondoDivGris {
  background-color: #efefef;
}

/* CARDS */

.profile-card-2 {
  width: 80%;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  /* margin: 10px auto; */
  cursor: pointer;
  /* border-radius: 10px; */
}

.profile-card-2 img {
  transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size:1.875rem;
  color: #FFF;
  text-shadow: 0px 0px 20px rgba(44, 44, 44, 0.5);
  font-weight: normal;
  transition: all linear 0.25s;
}

.profile-card-2 .comprarLink {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #FFF;
  font-size: 13px;
  transition: all linear 0.25s;
}



.profile-card-2 .comprarLinks {
  margin: 5px;
}

.profile-card-2:hover img {
  filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
  bottom: 80px;
  
}

.profile-card-2:hover .profile-username {
  bottom: 60px;
}

.profile-card-2:hover .comprarLink {
  right: 40px;
}

.comprarLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.comprarLink:hover {
  text-decoration: none !important;
  color: #71668a !important;
  font-weight: bold;
}

.profileTexto {
  color: #71668a !important;
  font-weight: bold;
  background-color: black;

}

.profile-name:hover {
  text-decoration: none !important;
  color: #71668a !important;
}


/* .cardsAjustes {
  margin-right:20px;
  margin-left: 20px;
} */

.cardsAjusteEspacio {
  margin-left: 45px;
}

.cardsAjusteInicio {
  margin-left: 60px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

/* 
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}


.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
} */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */


@media (max-width: 576px) {
  .carouselTamanio {
    padding-right: 0px;
    height: 100%;
  }

  div.col-lg-7.carouselTamanio {
    height: 480px;
  }

  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #carouselDesktop {
    display: none;
  }

  #carouselMobile {
    display: block;
  }

  .textoHorizontal {
    padding: 10px 10px 10px 20px;
    margin: 0px 10px 0px 10px;
  }

  .texto {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    color: rgb(71, 69, 69);
    font-size: 100%;
    margin-top: 2rem;
    /* padding: 100px 0px 10px 20px; */
  }

  .tituloMobile {
    display: none;
  }

  .textoBody {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    color: rgb(71, 69, 69);
    font-size: 100%;
    padding: 2rem;
  }

  .textoHorizontalBody {
    /* padding: 10px 30px 10px 30px; */
    /* margin: 0px 10px 0px 10px; */
  }

  .imagen {
    /* padding-right: 0px;
    padding-left: 0px;
    height: 450px;
    margin-top: 20px; */
  }


  .cardsAjusteInicio {
    margin-left: 50px;
    margin-right: 50px;
  }

  .profile-card-2 {
    width: 100%;
  }

}


@media (max-width: 768px) {
  .carouselTamanio {
    padding-right: 0px;
    height: 100%;
  }

  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #carouselDesktop {
    display: none;
  }

  #carouselMobile {
    display: block;
  }

  div.col-lg-7.carouselTamanio {
    height: 480px;
  }

  .textoHorizontal {
    /* padding: 10px 10px 10px 20px;
    margin: 0px 10px 0px 10px; */
  }

  .texto {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    color: rgb(71, 69, 69);
    font-size: 100%;
    margin-top: 2rem;
    /* padding: 100px 0px 10px 18px; */

  }

  .tituloMobile {
    display: none;
  }

  .textoBody {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    color: rgb(71, 69, 69);
    font-size: 100%;
    /* padding: 30px 10px 10px 20px; */
  }

  .textoHorizontalBody {
    /* padding: 10px 10px 10px 20px;
    margin: 0px 10px 0px 10px; */
  }

  .imagen {
    /* padding-right: 0px;
    padding-left: 0px;
    height: 450px;
    margin-top: 20px; */
  }


  .cardsAjusteInicio {
    margin-left: 50px;
    margin-right: 50px;
  }


}


/* Toast */
.Toastify__progress-bar--default {
  background: #463f55 !important;

}

.Toastify__toast--default {
  background-color: #71668a !important;
  color: white !important;
}